:root[color-mode="main"] {
    --primary-text:#0091ea;
}

body {
    background-color: #fff;
    color: #27333d;
}

.q-field--dark .q-field__native, .q-field--dark .q-field__prefix, .q-field--dark .q-field__suffix, .q-field--dark .q-field__input {
    color: #27333d;
}

.textAlignCenter {
    text-align: center;
}