body {
    background-color: #27333d;
    color: #c4c4c4;
}

.q-field--dark .q-field__native, .q-field--dark .q-field__prefix, .q-field--dark .q-field__suffix, .q-field--dark .q-field__input {
    color: #c4c4c4;
}